button {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}



.form-err {
    color: red;
}
h1{
    border: 1px solid;
    font-family: cursive;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 10px 10px 20px #51504B;
    width: 800px;
    border-radius: 10px;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}


@keyframes rotate {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.container {
    padding-bottom: 220px;
}